
.slika{
    
    width:100%;
    height:150px;
    background-repeat: no-repeat;
    background-size:cover;
    border:1px solid black;
}

#glavni{
    position:relative;
    margin-top:-65px;
    padding:0px 10px;
    text-shadow: 5px 5px 15px black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.meni{
    background-color: orange;
    text-align: center;
    position: static;
    border:1px solid black;
}

.meni a{
    display: inline-block;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
}

.meni a:hover{
    background-color: black;
    color: orange;
    border:1px solid orange;
}

.naslov{
    background-color: orangered;
    color:black;
    font-size: 20px;   
    text-align: center;
    position: relative;
    padding: 3px;
    font-weight: bold;
    border:1px solid black;
}

.meni a:active{
    background-color: black;
    color: darkblue;

}

.poc1{
    color:lightseagreen;
    margin-left:10px;
}

.poc2 img{
    width: 300px;
    height: 150px;
    float: left;
}

.poc2 h3{
    padding:0px 310px;
}

.poc2 p{
    float:left;
    width: 45%;
    padding: 0px 10px;
    margin-top: -15px;
    text-align: justify;
}

.poc3 img{
    width: 300px;
    height: 150px;
    float: left;
}

.poc3 h3{
    padding: 0px 310px;
}

.poc3 p{
    float:left;
    width: 45%;
    padding: 0px 10px;
    margin-top: -15px;
    text-align: justify;
}

.poc4 img{
    width: 300px;
    height: 150px;
    float: left;
}

.poc4 h3{
    padding: 0px 310px;
}

.poc4 p{
    float:left;
    width: 45%;
    padding: 0px 10px;
    margin-top: -15px;
    text-align: justify;
}

.poc5 img{
    width: 300px;
    height: 150px;
    float: left;
}

.poc5 h3{
    padding: 0px 310px;
}

.poc5 p{
    float:left;
    width: 45%;
    padding: 0px 10px;
    margin-top: -15px;
    text-align: justify;
}

.poc6 img{
    width: 300px;
    height: 150px;
    float: left;
}

.poc6 h3{
    padding: 0px 310px;
}

.poc6 p{
    float:left;
    width: 45%;
    padding: 0px 10px;
    margin-top: -15px;
    text-align: justify;
}

.poc7 img{
    width: 300px;
    height: 150px;
    float: left;
}

.poc7 h3{
    padding: 0px 310px;
}

.poc7 p{
    float:left;
    width: 45%;
    padding: 0px 10px;
    margin-top: -15px;
    text-align: justify;
}

.gore{
    text-align: right;
    background-color: orange;
    font-size: 20px;
}

#p{
    float: left;
    width: 80%;
}

form input{
    display: block;
    width: 250px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    background-color: orange;
    letter-spacing: 2px;
    padding: 0px 10px;
}

form #dugme{
    width: 100px;
    height: 30px;
    background-color: orangered;
    color: black;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 2px solid black;
}

form input:focus{
    background-color: cadetblue;
}

form #dugme:active{
    background-color: cadetblue;
}

form #poruka{
    width: 250px;
    height: 200px;
}

@media screen and (max-width:600px){
    .meni a{
        float:none;
        width: 100%;
    }
    .slika{
        display: none;
    }

}